.jira-nag-nag-div {
    position: fixed;
    background-color: white;
    z-index: 99999;
    color: red;
    font-size: 36px;
}

.jira-nag-nag-div > a:link {
    color: red;
}

.jira-nag-nag-div > a:visited {
    color: red;
}

.jira-nag-nag-div > a:hover {
    color: red;
}

.jira-nag-nag-div > a:active {
    color: red;
}

.jira-nag-corner-0 {
    right:0;
    bottom: 0;
}

.jira-nag-corner-1 {
    left: 0;
    bottom: 0;
}

.jira-nag-corner-2 {
    left: 0;
    top: 0;
}

.jira-nag-corner-3 {
    right: 0;
    top: 0;
}